body {
  font-family: 'Montserrat';
}

/* Navigation Bar */

.navbar-brand {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: #FFFFFF;
}

.navbar {
  padding-bottom: 4rem;
}

.nav-item {
  padding: 0 10px;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


#title {
  background-color: #7CBD1E;
}

.container-fluid {
  padding: 3% 15%;
}

.cover-pic {
  border-radius: 5%;
  width: 400px;;
  margin: auto auto 10px auto;
}


h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #FCF9F9;
  font-size: 3rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #7CBD1E;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #7CBD1E;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: #7CBD1E;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* Features Section */

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.fa-icon {
  color: #406882;
  margin-bottom: 1rem;
}

.fa-icon:hover {
  color: #7CBD1E;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #406882;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-pic {
  width: 20%;
  border-radius: 100%;
  margin-left: 10px;
  margin: 20px;
}

#press {
  background-color: #406882;
  text-align: center;
  padding-bottom: 3%;
}

.company-logo {
  width: 200px;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  text-align: center;
  padding-top: 3%;
}

.card-title {
  margin-bottom: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #7CBD1E;
    border-color: #7CBD1E;
}

.btn-outline-primary {
    color: #7CBD1E;
    border-color: #7CBD1E;
}

/* .w-100:hover {
  color: #406882;
} */

.border-primary {
    border-color: #7CBD1E!important;
}

.bg-primary {
    background-color: #7CBD1E!important;
}

/* Meet the Team */

#team {
  text-align: center;
  padding-top: 3%;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #7CBD1E;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #7CBD1E;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #406882;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


/* cta */

#cta {
  background-color: #7CBD1E;
}

.action {
  padding-top: 30px;
}

.cta-pic {
  border-radius: 5%;
  width: 400px;
  margin-bottom: 30px;
}

/* footer */

#footer {
  background-color: #406882;
  padding: 10px auto 5px;
}
